{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Hmmm: {{ status_text }}{% endblock %}

{% block content %}
    {% if status_code >= 500 %}
        There is an error!!! <br>
        Visit our site later
    {% elseif status_code >= 400 %}
        This site does not exist <br>
        What now? <br>
        Go <a href="{{ path('AppBundle_Home_homepage') }}">back to our homepage.</a>
    {% endif %}
{% endblock %}
