{% extends 'AppBundle::layout.html.twig' %}

{% set page_title = 'Home' %}

{% block content %}
	<div class="main">
		<h1>This is my project</h1>
		<p>
		Lorem ipsum dolor sit amet, vix impetus erroribus ei, quaeque scripserit mel an. Altera graeci facilisi vel no. At interesset sadipscing vim, vix id inermis omnesque reprimique, omnes detracto eum no. Ei vocent eligendi quaestio vim. Ad ubique splendide consequat ius, no atqui pertinacia has.
		</p>
		<p>
		Eam id everti eligendi percipit, malorum atomorum mea ei, pri vitae scripta viderer eu. Nonumy legere inimicus ne vel, novum lobortis persequeris mei an. Has ea persius omittam, ne scripta delenit percipit cum. Solum vocibus detraxit et nam, ut eam agam ullum. Et mel graeco viderer. Eum et everti noluisse convenire, omnis salutandi vim ex.
		</p>
		<p>
		Quot perpetua referrentur ex est. Id qui deseruisse consetetur, suas mandamus ocurreret ius an. Te usu essent gloriatur temporibus, sed no tibique complectitur. Affert fastidii neglegentur cu mel, ex qui viderer suscipiantur. Sit illud aeque in.
		</p>
		<p>
		Nec etiam qualisque id. Nam malis vocent eu, pri oporteat praesent at. Eam elitr nobis consetetur ne, nec te elitr labores conclusionemque, id suas verterem ius. Eu persius prompta sententiae quo. Illud mazim has an. Usu in affert labitur.
		</p>
		<p>
		Ei sint delicatissimi sed, has no sale denique recteque. Pro eu lorem persecuti, dico putent ne sea. Usu ne facer inani labitur, solum ubique ei cum, elit debitis instructior cum ea. In duo esse audire erroribus, sit et fierent temporibus. Ea eam causae sadipscing, has ei decore semper.
		</p>
	</div>
{% endblock %}

