<h3>Thank you for registering!</h3>

Hi {{ username }}! You're successfully registered. <br>

To login, go to: <a href="http://phpacademy.project.iz/login">this link</a>.
<br>
<br>
Thanks!
<br>
PHP team
