{% extends 'AppBundle:Ticket:ticket.html.twig' %}

{% set page_title = 'Comment' %}

{% block content %}
    <h4>Add a comment</h4>
    {% if insert == false %}
        {{ form_start(form) }}
        {{ form_row(form.content, {'label' : 'Content'}) }}
        <input type="submit" value="Comment">
        {{ form_end(form) }}
    {% else %}
        {% do form.setRendered() %}
        <h3>Your comment is posted!<h3>
        <a href="{{ path("AppBundle_Ticket_ticket", {'ticketId': ticketId}) }}">Back to the ticket</a>
    {% endif %}
 
{% endblock %}

