<h3>You have been deleted</h3>

Hi {{ username }}! <br>

By the power vested in us, we now pronounce
<br>
you deleted from our "PHP Ivana" website.
<br>
You may now contact us for more information!
<br>
<br>
Yours (not anymore) faithfully,
<br>
<br>
PHP team